# Git and system files
.git
.github
.DS_Store

# Local dependencies and build artifacts
node_modules
dist
coverage

# Environment files and logs
.env*
!.env.example
npm-debug.log
yarn-debug.log*
yarn-error.log*
*.md