DATABASE_URL="postgresql://admin:admin@db-wbd:5432/wbd_database?schema=public"
NODE_ENV="development"
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=wbd_database

DEV_ROLE=teacher
DEV_ROLE_OVERRIDE=false

FIREBASE_PROJECT_ID="your-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-...@your-project-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...your-private-key...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET="my-project-name.appspot.com"